* {
	overflow-wrap: break-word;
}

#invisible {
	display: none;
}
/* #invisible11 {
	display: none;
} */

#invisible3 {
	display: none;
}

p {
	max-width: 65ch;
	margin: auto;
	text-align: center;
}

#invalid {
	display: none;
}

/* #centerText {
	text-align: center;
} */
